@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles,
.plasmic_default_styles:where(
  .global_unnamedGlobalGroupOfVariants_unnamedVariant
) {
  --mixin-Y6jlSQBqPMKv_text-align: left;
  --mixin-Y6jlSQBqPMKv_text-transform: none;
  --mixin-Y6jlSQBqPMKv_white-space: pre-wrap;
  --mixin-Y6jlSQBqPMKv_user-select: text;
  --mixin-Y6jlSQBqPMKv_text-decoration-line: none;
  --mixin-Y6jlSQBqPMKv_text-overflow: clip;
  --mixin-puuTgSJpU8PZ_font-weight: 700;
  --mixin-puuTgSJpU8PZ_font-size: 64px;
  --mixin-puuTgSJpU8PZ_line-height: 1;
  --mixin-puuTgSJpU8PZ_letter-spacing: -1px;
  --mixin-puuTgSJpU8PZ_white-space: pre-wrap;
  --mixin-tmXbl334DmdR_font-size: 48px;
  --mixin-tmXbl334DmdR_font-weight: 700;
  --mixin-tmXbl334DmdR_letter-spacing: -0.5px;
  --mixin-tmXbl334DmdR_line-height: 1.1;
  --mixin-tmXbl334DmdR_white-space: pre-wrap;
  --mixin-crdm_EsuEQm4_color: #0070f3;
  --mixin-crdm_EsuEQm4_white-space: pre-wrap;
  --mixin-_gunK7P_a1iF_font-size: 32px;
  --mixin-_gunK7P_a1iF_font-weight: 600;
  --mixin-_gunK7P_a1iF_line-height: 1.2;
  --mixin-_gunK7P_a1iF_white-space: pre-wrap;
  --mixin-wzH86gNo4HKr_font-size: 24px;
  --mixin-wzH86gNo4HKr_font-weight: 600;
  --mixin-wzH86gNo4HKr_line-height: 1.3;
  --mixin-wzH86gNo4HKr_white-space: pre-wrap;
  --mixin-10OLvirLzoUB_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-10OLvirLzoUB_border-bottom-color: #dddddd;
  --mixin-10OLvirLzoUB_border-bottom-style: solid;
  --mixin-10OLvirLzoUB_border-bottom-width: 1px;
  --mixin-10OLvirLzoUB_border-left-color: #dddddd;
  --mixin-10OLvirLzoUB_border-left-style: solid;
  --mixin-10OLvirLzoUB_border-left-width: 1px;
  --mixin-10OLvirLzoUB_border-right-color: #dddddd;
  --mixin-10OLvirLzoUB_border-right-style: solid;
  --mixin-10OLvirLzoUB_border-right-width: 1px;
  --mixin-10OLvirLzoUB_border-top-color: #dddddd;
  --mixin-10OLvirLzoUB_border-top-style: solid;
  --mixin-10OLvirLzoUB_border-top-width: 1px;
  --mixin-10OLvirLzoUB_border-bottom-left-radius: 3px;
  --mixin-10OLvirLzoUB_border-bottom-right-radius: 3px;
  --mixin-10OLvirLzoUB_border-top-left-radius: 3px;
  --mixin-10OLvirLzoUB_border-top-right-radius: 3px;
  --mixin-10OLvirLzoUB_font-family: "Inconsolata";
  --mixin-10OLvirLzoUB_padding-bottom: 1px;
  --mixin-10OLvirLzoUB_padding-left: 4px;
  --mixin-10OLvirLzoUB_padding-right: 4px;
  --mixin-10OLvirLzoUB_padding-top: 1px;
  --mixin-10OLvirLzoUB_white-space: pre-wrap;
  --mixin-Bb3c0ixwy4oS_border-left-color: #dddddd;
  --mixin-Bb3c0ixwy4oS_border-left-style: solid;
  --mixin-Bb3c0ixwy4oS_border-left-width: 3px;
  --mixin-Bb3c0ixwy4oS_color: #888888;
  --mixin-Bb3c0ixwy4oS_padding-left: 10px;
  --mixin-Bb3c0ixwy4oS_white-space: pre-wrap;
  --mixin-hHZAvQWuqM5N_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hHZAvQWuqM5N_border-bottom-color: #dddddd;
  --mixin-hHZAvQWuqM5N_border-bottom-style: solid;
  --mixin-hHZAvQWuqM5N_border-bottom-width: 1px;
  --mixin-hHZAvQWuqM5N_border-left-color: #dddddd;
  --mixin-hHZAvQWuqM5N_border-left-style: solid;
  --mixin-hHZAvQWuqM5N_border-left-width: 1px;
  --mixin-hHZAvQWuqM5N_border-right-color: #dddddd;
  --mixin-hHZAvQWuqM5N_border-right-style: solid;
  --mixin-hHZAvQWuqM5N_border-right-width: 1px;
  --mixin-hHZAvQWuqM5N_border-top-color: #dddddd;
  --mixin-hHZAvQWuqM5N_border-top-style: solid;
  --mixin-hHZAvQWuqM5N_border-top-width: 1px;
  --mixin-hHZAvQWuqM5N_border-bottom-left-radius: 3px;
  --mixin-hHZAvQWuqM5N_border-bottom-right-radius: 3px;
  --mixin-hHZAvQWuqM5N_border-top-left-radius: 3px;
  --mixin-hHZAvQWuqM5N_border-top-right-radius: 3px;
  --mixin-hHZAvQWuqM5N_font-family: "Inconsolata";
  --mixin-hHZAvQWuqM5N_padding-bottom: 3px;
  --mixin-hHZAvQWuqM5N_padding-left: 6px;
  --mixin-hHZAvQWuqM5N_padding-right: 6px;
  --mixin-hHZAvQWuqM5N_padding-top: 3px;
  --mixin-hHZAvQWuqM5N_white-space: pre-wrap;
  --mixin-22Y6EkaT9a-F_display: flex;
  --mixin-22Y6EkaT9a-F_flex-direction: column;
  --mixin-22Y6EkaT9a-F_align-items: stretch;
  --mixin-22Y6EkaT9a-F_justify-content: flex-start;
  --mixin-22Y6EkaT9a-F_list-style-position: outside;
  --mixin-22Y6EkaT9a-F_padding-left: 40px;
  --mixin-22Y6EkaT9a-F_position: relative;
  --mixin-22Y6EkaT9a-F_list-style-type: disc;
  --mixin-22Y6EkaT9a-F_white-space: pre-wrap;
  --mixin-vwmvbqeraEd0_display: flex;
  --mixin-vwmvbqeraEd0_flex-direction: column;
  --mixin-vwmvbqeraEd0_align-items: stretch;
  --mixin-vwmvbqeraEd0_justify-content: flex-start;
  --mixin-vwmvbqeraEd0_list-style-position: outside;
  --mixin-vwmvbqeraEd0_padding-left: 40px;
  --mixin-vwmvbqeraEd0_position: relative;
  --mixin-vwmvbqeraEd0_list-style-type: decimal;
  --mixin-vwmvbqeraEd0_white-space: pre-wrap;
  --mixin-NaxoCSD6cZCQ_font-size: 20px;
  --mixin-NaxoCSD6cZCQ_font-weight: 600;
  --mixin-NaxoCSD6cZCQ_line-height: 1.5;
  --mixin-NaxoCSD6cZCQ_white-space: pre-wrap;
  --mixin-PK1vDgz_SEbC_font-size: 16px;
  --mixin-PK1vDgz_SEbC_font-weight: 600;
  --mixin-PK1vDgz_SEbC_line-height: 1.5;
  --mixin-PK1vDgz_SEbC_white-space: pre-wrap;
  --mixin-LHj_uFCWfJmQ_color: #3291ff;
  --mixin-LHj_uFCWfJmQ_white-space: pre-wrap;
  --mixin-keLt-L0ymZ0L_white-space: pre-wrap;
  --mixin-Rdh144IO-UvK_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  text-align: var(--mixin-Y6jlSQBqPMKv_text-align);
  text-transform: var(--mixin-Y6jlSQBqPMKv_text-transform);
  white-space: var(--mixin-Y6jlSQBqPMKv_white-space);
}

:where(.root_reset) h1:where(.h1__eYvaN),
h1:where(.root_reset.h1__eYvaN),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-puuTgSJpU8PZ_font-weight);
  font-size: var(--mixin-puuTgSJpU8PZ_font-size);
  line-height: var(--mixin-puuTgSJpU8PZ_line-height);
  letter-spacing: var(--mixin-puuTgSJpU8PZ_letter-spacing);
}

:where(.root_reset) h2:where(.h2__eYvaN),
h2:where(.root_reset.h2__eYvaN),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-tmXbl334DmdR_font-size);
  font-weight: var(--mixin-tmXbl334DmdR_font-weight);
  letter-spacing: var(--mixin-tmXbl334DmdR_letter-spacing);
  line-height: var(--mixin-tmXbl334DmdR_line-height);
}

:where(.root_reset) a:where(.a__eYvaN),
a:where(.root_reset.a__eYvaN),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-crdm_EsuEQm4_color);
}

:where(.root_reset) h3:where(.h3__eYvaN),
h3:where(.root_reset.h3__eYvaN),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-_gunK7P_a1iF_font-size);
  font-weight: var(--mixin-_gunK7P_a1iF_font-weight);
  line-height: var(--mixin-_gunK7P_a1iF_line-height);
}

:where(.root_reset) h4:where(.h4__eYvaN),
h4:where(.root_reset.h4__eYvaN),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-wzH86gNo4HKr_font-size);
  font-weight: var(--mixin-wzH86gNo4HKr_font-weight);
  line-height: var(--mixin-wzH86gNo4HKr_line-height);
}

:where(.root_reset) code:where(.code__eYvaN),
code:where(.root_reset.code__eYvaN),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-10OLvirLzoUB_font-family);
  border-radius: var(--mixin-10OLvirLzoUB_border-top-left-radius)
    var(--mixin-10OLvirLzoUB_border-top-right-radius)
    var(--mixin-10OLvirLzoUB_border-bottom-right-radius)
    var(--mixin-10OLvirLzoUB_border-bottom-left-radius);
  padding: var(--mixin-10OLvirLzoUB_padding-top)
    var(--mixin-10OLvirLzoUB_padding-right)
    var(--mixin-10OLvirLzoUB_padding-bottom)
    var(--mixin-10OLvirLzoUB_padding-left);
  border-top: var(--mixin-10OLvirLzoUB_border-top-width)
    var(--mixin-10OLvirLzoUB_border-top-style)
    var(--mixin-10OLvirLzoUB_border-top-color);
  border-right: var(--mixin-10OLvirLzoUB_border-right-width)
    var(--mixin-10OLvirLzoUB_border-right-style)
    var(--mixin-10OLvirLzoUB_border-right-color);
  border-bottom: var(--mixin-10OLvirLzoUB_border-bottom-width)
    var(--mixin-10OLvirLzoUB_border-bottom-style)
    var(--mixin-10OLvirLzoUB_border-bottom-color);
  border-left: var(--mixin-10OLvirLzoUB_border-left-width)
    var(--mixin-10OLvirLzoUB_border-left-style)
    var(--mixin-10OLvirLzoUB_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote__eYvaN),
blockquote:where(.root_reset.blockquote__eYvaN),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Bb3c0ixwy4oS_color);
  padding-left: var(--mixin-Bb3c0ixwy4oS_padding-left);
  border-left: var(--mixin-Bb3c0ixwy4oS_border-left-width)
    var(--mixin-Bb3c0ixwy4oS_border-left-style)
    var(--mixin-Bb3c0ixwy4oS_border-left-color);
}

:where(.root_reset) pre:where(.pre__eYvaN),
pre:where(.root_reset.pre__eYvaN),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-hHZAvQWuqM5N_font-family);
  border-radius: var(--mixin-hHZAvQWuqM5N_border-top-left-radius)
    var(--mixin-hHZAvQWuqM5N_border-top-right-radius)
    var(--mixin-hHZAvQWuqM5N_border-bottom-right-radius)
    var(--mixin-hHZAvQWuqM5N_border-bottom-left-radius);
  padding: var(--mixin-hHZAvQWuqM5N_padding-top)
    var(--mixin-hHZAvQWuqM5N_padding-right)
    var(--mixin-hHZAvQWuqM5N_padding-bottom)
    var(--mixin-hHZAvQWuqM5N_padding-left);
  border-top: var(--mixin-hHZAvQWuqM5N_border-top-width)
    var(--mixin-hHZAvQWuqM5N_border-top-style)
    var(--mixin-hHZAvQWuqM5N_border-top-color);
  border-right: var(--mixin-hHZAvQWuqM5N_border-right-width)
    var(--mixin-hHZAvQWuqM5N_border-right-style)
    var(--mixin-hHZAvQWuqM5N_border-right-color);
  border-bottom: var(--mixin-hHZAvQWuqM5N_border-bottom-width)
    var(--mixin-hHZAvQWuqM5N_border-bottom-style)
    var(--mixin-hHZAvQWuqM5N_border-bottom-color);
  border-left: var(--mixin-hHZAvQWuqM5N_border-left-width)
    var(--mixin-hHZAvQWuqM5N_border-left-style)
    var(--mixin-hHZAvQWuqM5N_border-left-color);
}

:where(.root_reset) ul:where(.ul__eYvaN),
ul:where(.root_reset.ul__eYvaN),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-22Y6EkaT9a-F_display);
  flex-direction: var(--mixin-22Y6EkaT9a-F_flex-direction);
  align-items: var(--mixin-22Y6EkaT9a-F_align-items);
  justify-content: var(--mixin-22Y6EkaT9a-F_justify-content);
  list-style-position: var(--mixin-22Y6EkaT9a-F_list-style-position);
  padding-left: var(--mixin-22Y6EkaT9a-F_padding-left);
  position: var(--mixin-22Y6EkaT9a-F_position);
  list-style-type: var(--mixin-22Y6EkaT9a-F_list-style-type);
  column-gap: var(--mixin-22Y6EkaT9a-F_column-gap);
}

:where(.root_reset) ol:where(.ol__eYvaN),
ol:where(.root_reset.ol__eYvaN),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-vwmvbqeraEd0_display);
  flex-direction: var(--mixin-vwmvbqeraEd0_flex-direction);
  align-items: var(--mixin-vwmvbqeraEd0_align-items);
  justify-content: var(--mixin-vwmvbqeraEd0_justify-content);
  list-style-position: var(--mixin-vwmvbqeraEd0_list-style-position);
  padding-left: var(--mixin-vwmvbqeraEd0_padding-left);
  position: var(--mixin-vwmvbqeraEd0_position);
  list-style-type: var(--mixin-vwmvbqeraEd0_list-style-type);
  column-gap: var(--mixin-vwmvbqeraEd0_column-gap);
}

:where(.root_reset) h5:where(.h5__eYvaN),
h5:where(.root_reset.h5__eYvaN),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-NaxoCSD6cZCQ_font-size);
  font-weight: var(--mixin-NaxoCSD6cZCQ_font-weight);
  line-height: var(--mixin-NaxoCSD6cZCQ_line-height);
}

:where(.root_reset) h6:where(.h6__eYvaN),
h6:where(.root_reset.h6__eYvaN),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-PK1vDgz_SEbC_font-size);
  font-weight: var(--mixin-PK1vDgz_SEbC_font-weight);
  line-height: var(--mixin-PK1vDgz_SEbC_line-height);
}

:where(.root_reset) a:where(.a__eYvaN):hover,
a:where(.root_reset.a__eYvaN):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-LHj_uFCWfJmQ_color);
}

:where(.root_reset) li:where(.li__eYvaN),
li:where(.root_reset.li__eYvaN),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p__eYvaN),
p:where(.root_reset.p__eYvaN),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
